<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234677412657-3koh67imigh76s9kmrurbdi7pdr5vhr2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234677412657-3koh67imigh76s9kmrurbdi7pdr5vhr2</string>
	<key>API_KEY</key>
	<string>AIzaSyBcda0I1ELVs-vQHCFPznoXittrA099TW0</string>
	<key>GCM_SENDER_ID</key>
	<string>234677412657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGithubAction</string>
	<key>PROJECT_ID</key>
	<string>flutter-githubaction</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-githubaction.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234677412657:ios:7bc78a90b5770d67070610</string>
</dict>
</plist>